*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

.parent_div{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch{
    background-color: black;
    width: 25vw;
    height: 50vh;
    border-top: 15px solid grey;
    border-bottom: 15px solid grey;
    border-radius: 40px;
    color: white;
}

 .time{
    font-family: 'Times New Roman';
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: white;
    font-size: 25px;
 }

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    line-height: 25px;
}

.time2{
    
    font-family: 'Times New Roman';
    font-weight: bolder;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.day{
    font-family: 'Times New Roman';
    padding-top: 30px;
    font-size: 25px;
} 
.date{
    font-family: 'Times New Roman';
    font-size:20px;
    padding-top: 5px; 
}   


.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    font-size: large;
       
}
